language: ruby
sudo: false
rvm:
  - 2.4
  - 2.5
  - 2.6
  - 2.7
gemfile:
  - gemfiles/ar_4.2.gemfile
  - gemfiles/ar_5.2.gemfile
  - gemfiles/ar_6.0.gemfile
matrix:
  allow_failures:
    - gemfile: gemfiles/ar_6.0.gemfile
    - rvm: 2.4
  fast_finish: true
before_install:
  - gem update --system
  - gem install bundler
script: bundle exec rake spec
